<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <!-- Stylesheet --> 
        <link rel="stylesheet" href="stylesheet.css">
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        
        <!-- fontawesome -->
        <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">
        <title>Calculation App</title>
    </head>
    <body>
        <div id="app" class="bg-special">
            <div class="vh-100 d-flex justify-content-center align-items-center">
                <div class="col-10 col-md-4 col-lg-2 p-4 calculator-box d-flex flex-column justify-content-center align-items-center">
                    <div class="col-10 my-2">
                        <label>input:</label>
                        <input class="col-12" type="text" v-model="input">
                    </div>

                    <div class="col-10 mt-2 mb-4">
                        <label>total:</label>
                        <input class="col-12" type="text" v-model="total">
                    </div>

                    <div class="buttons d-flex flex-wrap justify-content-between col-10">
                        <button class="col-4 my-1" value="7" v-on:click="buttonClick">7</button>
                        <button class="col-4 my-1" value="8" v-on:click="buttonClick">8</button>
                        <button class="col-4 my-1" value="9" v-on:click="buttonClick">9</button>
                        <button class="col-4 my-1" value="4" v-on:click="buttonClick">4</button>
                        <button class="col-4 my-1" value="5" v-on:click="buttonClick">5</button>
                        <button class="col-4 my-1" value="6" v-on:click="buttonClick">6</button>
                        <button class="col-4 my-1" value="1" v-on:click="buttonClick">1</button>
                        <button class="col-4 my-1" value="2" v-on:click="buttonClick">2</button>
                        <button class="col-4 my-1" value="3" v-on:click="buttonClick">3</button>
                        <button class="col-4 my-1" value="0" v-on:click="buttonClick">0</button>
                        <button class="col-4 btn-primary my-1" v-on:click="buttonClick" value="+">+</button>
                        <button class="col-4 btn-warning my-1" v-on:click="buttonClick" value="-">-</button>
                        <button class="col-4 btn-danger my-1" v-on:click="buttonClick" value="/">/</button>
                        <button class="col-4 btn-success my-1" v-on:click="buttonClick" value="*">*</button>
                        <button class="col-4 btn-dark my-1" v-on:click="calculate" value="=">=</button>
                    </div>
                    
                </div>
            </div>
        </div>

        
        
        
        
        <!-- Vue.js CDN -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <!-- JavaScript file -->
        <script src="main.js"></script>
    </body>
</html>